body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    overflow: hidden;
    background: #ffd000;
}

/* style quesiton */
#id_question_quiz {
    display: flex;
    position: absolute;
    top: 1%;
    left: 20%;
}
#question {
    font-size: 30px;
}


/* style quiz */
.container_div {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 10pt;
    margin: 0 0 100px 250px;
    position:absolute;
    font-family: Tahoma,sans-serif;
    font-size: 15pt;
}
.cella {
    background-color: #333533;

    padding: 40px;
    text-align: center;
    color: white;
    border-radius: 20px;

    position: relative;
    right: -40px;
    top: -50px;

    width: 50vw;
    height: 50vh;

    max-width: 20vw;
    max-height: 10vh;
    min-width: 10vw;
    min-height: 10vh;

    z-index: 10;
}
.cella:hover {
    color: red;
}
/*sono piu grandi ( anche se hanno stesso padding e stesso margin ) perche il font è piu grande */
.cella_elem {
    background-color: #999898;

    cursor: grab;
    color: black;
    text-align: center;

    border-radius: 20px;

    position: relative;
    top: -40px;
    left: -40px;

    padding: 30px;
    width: 50vw;
    height: 50vh;

    max-width: 10vw;
    max-height: 10vh;
    min-width: 10vw;
    min-height: 10vh;

    z-index: 10;
}
.cella_elem:hover{
    color: white;
    animation: zoom-button 500ms ease infinite alternate;
}
@keyframes zoom-button {
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.05);
        font-weight: 550;
    }
}
/* -------------------- */

/* style button */
.container_button {
    position: absolute;
    bottom: 60px;
    left: 40%;
}
.style_button {
    cursor: pointer;
    background: url("https://image.freepik.com/free-vector/abstract-technology-background-web-developer-computer-code_88211-423.jpg") 50%;
    width: 200pt;
    height: 60pt;
    font-weight: 100;
    font-family: 'Fira Code Light', sans-serif;
    font-size: 40px;
    color: #ecf01e;
    border: 2px solid #ecf01e;
    border-radius: 20px;
}
.style_button:hover {
    animation: unzoom 5s infinite linear alternate-reverse;
}
@keyframes unzoom {
    0%{
        background-position: 20vw;
        transform: scale(1.0);
    }
    100%{
        background-position: 52vw;
        transform: scale(1.05);
    }
}
/* --------------------- */


/* start button */
#container_start {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #000000;

    z-index: 20;

    margin: 300px 150px 0 150px;
    padding: 100px 0 100px 0;

}
#start-btn{
    margin: 50px;
}
.btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 28.1vw;
    height: 13vh;
    margin-top: 20px;
    background-color: hsl(50, 100%, 74%);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    border: none;
    z-index: 10;
}
.start-btn {
    cursor: pointer;
    color: black;
    margin-top: 125px;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 10px;
    z-index: 10;
}
.start-btn:hover{
    animation: start-btn-anim 1s infinite alternate;
}
@keyframes start-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 33px;
        transform: scale(1.01);
        background-color: hsl(92, 100%, 50%);
    }
}
/* -------------------- */

/* risp-corretta-errata */
#riassunto_game {
    justify-content: center;
    align-items: center;
    display: flex;
}
#risp_errata,#risp_corretta {
    font-size: 3em;
    animation: change_ 3s 1;
    padding: 30px;
    margin-top: 10%;
    text-align: center;
    border-radius: 20px;
    z-index: 10;
}
@keyframes change_  {
    from{
        margin: 0;
        padding: 10%;
        opacity: 0;
    }
    to {
        padding: 30px;
        opacity: 100%;
        margin-top: 10%;
    }
}


/* animation background */
.light {
    position: absolute;
    width: 0;
    opacity: .75;
    background-color: #999900;
    box-shadow: #000000 0 0 20px 2px;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.x1{
    animation: floatUp 4s infinite linear;
    transform: scale(1.0);
}
.x2{
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
}
.x3{
    animation: floatUp 2.5s infinite linear;
    transform: scale(.5);
    left: -15%;
}
.x4{
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
}
.x5{
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
}
.x6{
    animation: floatUp 3s infinite linear;
    transform: scale(.8);
    left: -81%;
}
.x7{
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
}
.x8{
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
}
.x9{
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
}
@keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
/* end animation background  */


/* timer */
.container_timer{
    display: flex;
    font-size: 2.9rem;
    margin-top: 30px;
    margin-left: 75%;
}
#timer{
    height: 20vh;
    width: 10vw;
}
#timer_value {
    margin: 5px;
}
/* end timer */

/* animation timer */
#circle_animation1{
    margin: 1px;
    position: relative;
    bottom: 69px;
    left: 27px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
}
#circle_animation2{
    margin: 1px;
    position: relative;
    bottom: 76px;
    left: 35px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 1.15s;
}
#circle_animation3{
    margin: 1px;
    position: relative;
    bottom: 82px;
    left: 43px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 2.30s;
}
#circle_animation4{
    margin: 1px;
    position: relative;
    bottom: 85px;
    left: 50px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 3.45s;
}
#circle_animation5{
    margin: 1px;
    position: relative;
    bottom: 87px;
    left: 56px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 4.60s;
}
#circle_animation6{
    margin: 1px;
    position: relative;
    bottom: 87px;
    left: 59px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 5.75s;
}
#circle_animation7{
    margin: 1px;
    position: relative;
    bottom: 87px;
    left: 60px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 6.90s;
}
#circle_animation8{
    margin: 1px;
    position: relative;
    bottom: 87px;
    left: 59px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 8.05s;
}
#circle_animation9{
    margin: 1px;
    position: relative;
    bottom: 87px;
    left: 56px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 9.20s;
}
#circle_animation10{
    margin: 1px;
    position: relative;
    bottom: 88px;
    left: 51px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 10.35s;
}
#circle_animation11{
    margin: 1px;
    position: relative;
    bottom: 92px;
    left: 43px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 11.50s;
}
#circle_animation12{
    margin: 1px;
    position: relative;
    bottom: 97px;
    left: 35px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 12.65s;
}
#circle_animation13{
    margin: 1px;
    position: relative;
    bottom: 104px;
    left: 27px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 13.80s;
}
#circle_animation14{
    margin: 1px;
    position: relative;
    bottom: 112px;
    left: 19px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 14.95s;
}
#circle_animation15{
    margin: 1px;
    position: relative;
    bottom: 121px;
    left: 11px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 16.10s;
}
#circle_animation16{
    margin: 1px;
    position: relative;
    bottom: 132px;
    left: 3px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 17.25s;
}
#circle_animation17{
    margin: 1px;
    position: relative;
    bottom: 144px;
    right: 4px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 18.40s;
}
#circle_animation18{
    margin: 1px;
    position: relative;
    bottom: 159px;
    right: 8px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 19.55s;
}
#circle_animation19{
    margin: 1px;
    position: relative;
    bottom: 175px;
    right: 11px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 20.70s;
}
#circle_animation20{
    margin: 1px;
    position: relative;
    bottom: 191px;
    right: 12px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 21.85s;
}
#circle_animation21{
    margin: 1px;
    position: relative;
    bottom: 207px;
    right: 10px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 23.00s;
}
#circle_animation22{
    margin: 1px;
    position: relative;
    bottom: 222px;
    right: 6px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 24.15s;
}
#circle_animation23{
    margin: 1px;
    position: relative;
    bottom: 236px;
    right: 1px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 25.30s;
}
#circle_animation24{
    margin: 1px;
    position: relative;
    bottom: 248px;
    left: 5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 26.45s;
}
#circle_animation25{
    margin: 1px;
    position: relative;
    bottom: 259px;
    left: 12px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 27.60s;
}
#circle_animation26{
    margin: 1px;
    position: relative;
    bottom: 269px;
    left: 19px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid black;
    animation: timer-anim 1.15s ease-in forwards;
    animation-delay: 28.75s;
}
@keyframes timer-anim {
    0%{
        background-color: inherit;
    }
    100%{
        background-color: darkred;
    }
}
/* end animtion timer */