
body{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-family: "Gill Sans MT", sans-serif;
    background: #e34c26;
    margin: 0;
    padding: 0;
}

/*--------------------------------TIMER----------------------------*/
#container_timer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.9rem;
    padding: 0;
    border-radius: 50%;
    margin: 0 auto;
    height: 52vh;
    width: 27vw;
    z-index: -1;
}

/*.animation_js_outer{
    animation: outer_anim 60s linear forwards;
}*/

@keyframes outer_anim {
    from{
        height: 52vh;
        border-radius: 50%;
        background-color: inherit;

    }
    to{
        border-radius: 0;
        height: 100vh;
        background-color: #B22222;
    }
}
#timer{
    min-width: 30%;
    max-height: 10vh;
    padding: 1px;
}
#timer_value{
    margin-left: 0.5em;
    margin-bottom: 0;
    text-shadow: 2px 2px 1px #ff0000,-2px -2px 1px #F56416, 2px -2px 1px #E28413, -2px 2px 1px #EA1744;
}

.circle_animation{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    z-index: 2;
}

#circle_animation1{
    margin-left: 23%;
    position: relative;
    bottom: 199px;
}
#circle_animation2{
    margin-left: 93%;
    position: relative;
    bottom: 246px;
    animation-delay: 6s;
}
#circle_animation3{
    margin-left: 134%;
    position: relative;
    bottom: 255px;
    animation-delay: 12s;
}
#circle_animation4{
    margin-left: 126%;
    position: relative;
    bottom: 253px;
    animation-delay: 18s;
}
#circle_animation5{
    margin-left: 76%;
    position: relative;
    bottom: 270px;
    animation-delay: 24s;
}
#circle_animation6{
    margin-left: 0;
    position: relative;
    bottom: 331px;
    animation-delay: 30s;
}
#circle_animation7{
    margin-left: -70%;
    position: relative;
    bottom: 439px;
    animation-delay: 36s;
}
#circle_animation8{
    margin-left: -109%;
    position: relative;
    bottom: 584px;
    animation-delay: 42s;
}
#circle_animation9{
    margin-left: -99%;
    position: relative;
    bottom: 738px;
    animation-delay: 48s;
}
#circle_animation10{
    margin-left: -51%;
    position: relative;
    bottom: 875px;
    animation-delay: 54s;
}


@keyframes timer-anim {
    0%{
        background-color: inherit;
    }
    10%{
        background-color: #1EB200;
        transform: scale(1.01);
    }
    20%{
        background-color: #53B200;
        transform: scale(1);
    }
    30%{
        background-color: #77B200;
        transform: scale(1.01);
    }
    40%{
        background-color: #AEC100;
        transform: scale(1);
    }
    50%{
        background-color: #EEE607;
        transform: scale(1.01);
    }
    60%{
        background-color: #EEB007;
        transform: scale(1);
    }
    70%{
        background-color: #D87605;
        transform: scale(1.01);
    }
    80%{
        background-color: #E14705;
        transform: scale(1);
    }
    90%{
        background-color: #E12205;
        transform: scale(1.01);
    }
    100%{
        background-color: #CB0909;
        transform: scale(1);
    }
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
    background-color: darkred;
    border-radius: 5px;
    box-shadow: 0 0 10px 6px;
    text-align: center;
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    z-index: 100;
}
#container_list{
    display: inherit;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;

}

#question_container {
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    margin: auto;
    width: 67vw;
    height: 90vh;
    background-color: orangered;
}

#question-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 2rem auto;
    width: 60vw;
    height: 80vh;
    background-color: orange;
}


#request {
    margin-bottom: 29rem;
    cursor: default;
    padding: 1rem;
}

#question {
    border: 2px solid red;
    background-color: #fcbf49;
    position: relative;
    bottom: 73vh;
    height: 25rem;
    width: 33rem;
    resize: none;
    outline: none;
    animation: little-transform2 2s infinite linear alternate;
}

#question:focus {
    border-color: darkred;
}

/*--------------------Pulsanti-------------*/
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 28.1vw;
    height: 13vh;
    margin-top: 20px;
    border: 1px solid #f48c06;
    background-color: #e85d04;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover{
    border-color: black;
}
.start-btn{
    cursor: pointer;
    color: black;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 10px;
}

.start-btn:hover{
    animation: start-btn-anim 500ms infinite alternate;
}


@keyframes start-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 28px;
        transform: scale(0.995);
        background-color: transparent;
    }
}

.hide{
    display: none;
}


/*---------------------------BACKGROUND ANIMATION-----------------------*/
.light {
    position: absolute;
    width: 0;
    opacity: .75;
    background-color: #5E6973;
    box-shadow: darkred 0 0 20px 2px;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.x1{
    animation: floatUp 4s infinite linear;
    transform: scale(1.0);
}

.x2{
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
}

.x3{
    animation: floatUp 2.5s infinite linear;
    transform: scale(.5);
    left: -15%;
}

.x4{
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
}

.x5{
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
}

.x6{
    animation: floatUp 3s infinite linear;
    transform: scale(.8);
    left: -81%;
}

.x7{
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
}

.x8{
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
}

.x9{
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
}

@keyframes floatUp{
    0%{top: -100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: 100vh; opacity: 0;}
}

.hide {
    display: none;
}

#confirm-btn {
    position: absolute;
    width: max(10vw, 100px);
    height: max(4vh, 40px);
    margin: 0 auto;
    top: 77%;
    left: 57%;
    z-index: 100;
}

#next-btn{
    position: absolute;
    width: max(10vw, 100px);
    height: max(4vh, 40px);
    margin: 0 auto;
    top: 77%;
    left: 57%;
    z-index: 100;
}
#main-btn{
    position: absolute;
    width: max(10vw, 100px);
    height: max(4vh, 40px);
    margin: 0 auto;
    top: 77%;
    left: 57%;
    z-index: 100;
}

/* risp-corretta-errata */
#riassunto_game {
    justify-content: center;
    align-items: center;
    display: flex;
}
#risp_errata,#risp_corretta {
    font-size: 1.2em;
    padding: 2px 2px;
    margin-bottom: 80%;
    border-radius: 20px;
    z-index: 10;
}
@keyframes change_  {
    from{
        margin: 0;
        padding: 10%;
        opacity: 0;
    }
    to {
        padding: 30px;
        opacity: 100%;
        margin-top: 10%;
    }
}

