
body {
    margin: 0 0 0 0;

    /* animazione sfondo pagina */
    animation-name: change_color;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
@keyframes change_color {
    0%   {background-color: #cdeac0;}
    25%  {background-color: #b2ff9e;}
    50%  {background-color: #cbf3f0;}
    75%  {background-color: #80ed99;}
    100% {background-color: #9fffcb;}
}

#container_name_project {
    text-align: center;
    margin-bottom: 60pt;

}
#name_project {
    font-size: 200pt;
    animation-name: change_size;
    animation-duration: 6s;
}
@keyframes change_size {
    from { font-size:  300pt; }
    to { font-size: 200pt; }
}

/* animazione imagine sottofondo scritta AthonApp */
.athon-app{
    line-height: 300px;
    margin: 0;
    font-family: 'Red Hat Display',sans-serif;
    font-weight: 900;
    background-size: 40%;
    background: url("https://i.pinimg.com/originals/cf/b2/a8/cfb2a87b5f335bd0ec9bd657edef45f0.jpg") 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
    animation: zoomout 10s ease-in 500ms forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes zoomout {
    from{ background-size: 40%; }
    to{ background-size: 10%; }
}

#cite_intro {
    font-family: SignPainter;
    font-size: 25pt;
    animation-name: change_size_2;
    animation-duration: 6s;
}
@keyframes change_size_2 {
    from { font-size: 9pt; }
    to { font-size: 25pt; }
}


#container_start {
    padding-top: 70pt;
    padding-bottom: 70pt;
    opacity: 100%;

    animation-name: change_opacity;
    animation-duration: 6s;
}
@keyframes change_opacity {
    from { opacity: 0%; }
    to { opacity: 100% ;}
}

#footer_project {
    position: absolute;
    top: 700pt;
    left: 585pt;
}


/* button style */
div[class*=box] {
    height: 33.33%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}
.btn-three {
    color: #000000;
    font-family: Skia;
    transition: all 0.5s;
    position: relative;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 2px solid rgb(255, 255, 255);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}


