*,*::before,*::after{
    box-sizing: border-box;
    font-family: Georgia,sans-serif;
}
/*usato per accedere all'elemento root e definire variabili globali*/
:root{
    /*colore default*/
    --color-neutral: #668586;
    /*colore risposta errata*/
    --color-wrong: red;
    /*colore risposta corretta*/
    --color-correct: green;

}

body{
    /*imposto il background a un colore di default*/
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--color-neutral);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/*noinspection ALL*/
body.correct{
    /*se la risposta è corretta cambio colore sfondo*/
    background-color: var(--color-correct);
}

/*noinspection CssUnresolvedCustomProperty*/
body.wrong{
    /*se la risposta è sbagliata cambio colore sfondo*/
    background-color: var(--color-correct);
}

.container{
    height: 600px;
    width: 1100px;
    max-width: 80%;
    background-color: #82AEB1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
   
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn, .next-btn{
    margin: 0;
    height: 9vh;
    width: 18vw;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 20px;

}

.start-btn:hover{
    animation: start-btn-anim 1s infinite alternate;
}

.next-btn:hover{
    animation: next-btn-anim 1s infinite alternate;
}

.hide{
    display: none;
}

.next-btn{
    bottom: 20px;
    position:relative;
    justify-content: center;
    align-items: center;
    top:450px;
    right:550px;
}

#img_question{
    height: 400px;
    width: 750px;
    max-width: 55%;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    position: relative;
    overflow:hidden;
    left:9px;
    float:left;
    top:35px;
}


@keyframes start-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 33px;
        transform: scale(1.01);
        background-color: hsla(223, 100%, 40%, 1);
    }
}

@keyframes next-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 33px;
        transform: scale(1.01);
        background-color: hsla(223, 100%, 40%, 1);
    }
}
#fill_form{
    height: 400px;
    width: 650px;
    max-width:44%;
    background-color: #93C6D6;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 0 0 10px 2px;
    position:relative;
    left:2px;
    overflow:hidden;
    float:left;
    top:35px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    

}


#timerLabel{
    font-size: 15pt;
    text-align: center;
    padding: 20px;
    width: 150px;
    height: 130px;
   /*margin: 40px 10px;*/
    top: 0;
    -webkit-animation: 15s 0.875s cubic-bezier(0.9, 0, 0.1, 1) forwards background_color;
    animation: 15s 0.875s cubic-bezier(0.9, 0, 0.1, 1) forwards background_color;
    display:none;
    position: absolute;

}

#timer {

    font-family: "Montserrat", sans-serif;
    font-size: 35pt;
    color: rgb(255, 255, 255);
    padding: 30px 50px 30px 50px;
    text-shadow: 3.75vmin 3.75vmin 7.5vmin rgb(255, 255, 255);
    font-weight: 300;
}


@keyframes background_color {

    50.6666666667% {
        background-color: #ecf01e;
    }
    75.6666666667% {
        background-color: #ff0606;
    }

}

#timer {
    -webkit-animation: timer_beat 1s ease-in-out infinite alternate forwards;
    animation: timer_beat 1s ease-in-out infinite alternate forwards;
}

@-webkit-keyframes timer_beat {
    from {
        transform: none;
    }
    to {
        transform: scale(1.125);
    }
}
@keyframes timer_beat {
    from {
        transform: none;
    }
    to {
        transform: scale(1.125);
    }
}

