*,*::before,*::after{
    box-sizing: border-box;
    font-family: Georgia,sans-serif;
}

body{
    /*imposto il background a un colore di default*/
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: #4361ee;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    height: 85%;
    width: 80%;
    background-color: #0077b6;
    border-radius: 5px;
    padding: 0;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    z-index: 10;
    margin-top: 0;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn, .next-btn, #getback-btn{
    background-color: #90e0ef;
    margin: 0;
    height: 9vh;
    width: 18vw;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.start-btn{
    margin-top: 25%;
}

.start-btn:hover{
    animation: start-btn-anim 1s infinite alternate;
}

.next-btn:hover{
    animation: next-btn-anim 1s infinite alternate;
}
#getback-btn:hover{
    animation: next-btn-anim 1s infinite alternate;
}
.hide{
    display: none;
}

.next-btn{
    position: absolute;
    top: 80%;
    right: 40%;
}

#img_question{
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 55%;

    max-width: 45%;
    background-color: #00b4d8;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px;
}

#Domanda {
    position: relative;
    top: 1%;
    left: 5%;
    font-size: 1.2em;

}


@keyframes start-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 1.9rem;
        transform: scale(1.01);
        background-color: #4361ee;
    }
}

@keyframes next-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 1.9rem;
        transform: scale(1.01);
        background-color: hsla(223, 100%, 40%, 1);
    }
}
#fill_form{
    margin-top: 3%;
    margin-left: 3%;

    height: 80%;
    width: 45%;
    max-width: 45%;

    background-color: #00b4d8;
    border-radius: 7px;

    box-shadow: 0 0 10px 2px;
    overflow:hidden;
    float:left;
    /*
    top:35px;
     */
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
}
#lista_domande{
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 5%;
    line-height: 2rem;
}


/* timer */
.container_timer{
    position: absolute;
    left: 47%;
    top: 1%;

}
#timer{
    font-size: 2.6rem;
    height: 20vh;
    width: 10vw;
}
#timer_value {
    margin-left: 10px;
    text-shadow: 2px 2px 1px hsla(270, 100%, 60%, 1),-2px -2px 1px hsla(210, 90%, 62%, 0.92), 2px -2px 1px hsla(213, 100%, 40%, 1), -2px 2px 1px #1f00e6;
}
/* end timer */


/* animation background */
.light {
    position: absolute;
    width: 0;
    opacity: .75;
    background-color: #172c99;
    box-shadow: #000000 0 0 20px 2px;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.x1{
    animation: floatUp 4s infinite linear;
    transform: scale(1.0);
}
.x2{
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
}
.x3{
    animation: floatUp 2.5s infinite linear;
    transform: scale(.5);
    left: -15%;
}
.x4{
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
}
.x5{
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
}
.x6{
    animation: floatUp 3s infinite linear;
    transform: scale(.8);
    left: -81%;
}
.x7{
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
}
.x8{
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
}
.x9{
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
}
@keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
/* end animation background  */
