body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}


.container_div {
    display: grid;
    /*
    1auto : elemento
    2auto : elemento
    3auto : scelta utente
    4auto : scelta utente
    5auto : scelta utente
    6auto : scelta utente
    7auto : scelta utente
     */
    grid-template-columns: auto auto auto auto auto auto auto;
}
.cella {
    background-color: #9cffa1;
    padding: 50px;
    margin: 10px;
    text-align: center;
}

.cella:hover {
    background-color: black;
    color: red;
}

.cella_elem {
    padding: 50px;
    margin: 10px;
    background-color: red;
    color: black;
}

.cella_elem:hover{
    background-color: black;
    color: white;
}
