
body {
    overflow: hidden;
    margin: 0 0 0 0;
    background-color:  #616161!important;
    box-sizing: border-box;
}
#AthonApp{
    font-family: 'Red Hat Display',sans-serif;
    margin: 10px;
    padding: 10px;
    font-size: 50px;
    text-shadow: 2px 2px 20px darkgreen;
}

#Athon_p{
    background: url("https://i.pinimg.com/originals/cf/b2/a8/cfb2a87b5f335bd0ec9bd657edef45f0.jpg");
    -webkit-background-clip: text;
    color: rgba(0,0,0,0);
    background-size: 20%;
    animation: zoomout 20s ease-in-out infinite alternate forwards;
}

@keyframes zoomout {
    from{
        background-position: bottom;
    }
    to{
        background-position: top;
    }
}
/* login */

.form-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -280px;
    animation: change_dimension 1.5s infinite alternate;
    z-index: 10;
}
@keyframes change_dimension {
    0%{
        transform: scale(1.0);

    }
    100%{
        transform: scale(1.02);
    }
}
.form-container {
    margin: 0 0 0 0;
    padding: 100px  20px 100px 20px;
    border-radius: 20px;
    background: radial-gradient(#3e8f51, #616161);
}
.form-container input[type=text]{
    border: none;
    text-align: center;
    width: 80%;
    padding: 10px 0 10px 0;
    margin: 50px 0 50px 50px;
    background: black;
    color: #020202;
    z-index: 10;
}
.form-container input[type=text]:focus{
    background-color: #c0c0c0;
    outline: none;
}
.form-container .btn {

    background-color: #80ed99;
    color: black;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-bottom:10px;
    margin-left: 200px;
    border-radius: 10px;
    z-index: 10;
}

/* banner info user */
#container_info {
    padding: 5px 0 5px 0;
    margin: 200px 300px 10px 0;
    width: 10vw;
    font-size: 15pt;
    text-align: center;
    background: linear-gradient(to left, darkslategray, seagreen);
    cursor: pointer;
}

#container_info2 {
    padding: 100px 0 50px 100px;
}

#container_name_user {
    font-size: 22pt;
    font-family: "Times New Roman",sans-serif;
}

#pre_info {
    font-family: "Times New Roman",sans-serif;
    font-size: 23pt;
}

#id_nickname {
    color: #f30606;
    border: 1px solid #020202;
    border-radius: 20px;
    padding: 0 100px 0 0;
    text-align: center;
}

/* inizio bunner info rank */
#container_info_rank {
    padding: 10px 0 10px 0;
    margin: 0 100px 20px 0;
    width: 10vw;
    font-size: 15pt;
    text-align: center;
    background-color: #cd6969;
    animation-name: change_dimension2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes change_dimension2 {
    from {
        width: 10vw;
    }
    to {
        width: 0;
    }
}

/* sfondo del login */
.light {
    position: absolute;
    width: 0;
    opacity: .75;
    background-color: #050505;
    box-shadow: #616161 0 0 2px 3px;
    top: 100vh;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.x1{
    -webkit-animation: floatUp 1s infinite linear; /*4*/
    -moz-animation: floatUp 1s infinite linear;
    -o-animation: floatUp 1s infinite linear;
    animation: floatUp 1s infinite linear;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    z-index: 1;
}
.x2{
    -webkit-animation: floatUp 3s infinite linear; /*7*/
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(0.1); /*1.6*/
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    left: 15%;
    z-index: 1;
}
.x3{
    -webkit-animation: floatUp 1.5s infinite linear; /*2.5*/
    -moz-animation: floatUp 1.5s infinite linear;
    -o-animation: floatUp 1.5s infinite linear;
    animation: floatUp 1.5s infinite linear;
    -webkit-transform: scale(0.3); /*.5 */
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
    left: -15%;
    z-index: 1;
}
.x4{
    -webkit-animation: floatUp 2s infinite linear; /*4.5*/
    -moz-animation: floatUp 2s infinite linear;
    -o-animation: floatUp 2s infinite linear;
    animation: floatUp 2s infinite linear;
    -webkit-transform: scale(0.2); /*1.2*/
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    left: -34%;
}
.x5{
    -webkit-animation: floatUp 3s infinite linear; /*8*/
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(0.3); /*2.2*/
    -moz-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
    left: -57%;
    z-index: 1;
}
.x6{
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(0.5); /*.8*/
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    left: -81%;
    z-index: 1;
}
.x7{
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(0.4); /*3.2*/
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    left: 37%;
    z-index: 1;
}
.x8{
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(0.6);/*1.7*/
    -moz-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    left: 62%;
    z-index: 1;
}
.x9{
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    left: 85%;
    z-index: 1;
}
@-webkit-keyframes floatUp{
    0%{top: 1px; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -700px; opacity: 0;}
}
@-moz-keyframes floatUp{
    0%{top: 60px; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100px; opacity: 0;}
}
@-o-keyframes floatUp{
    0%{top: 60px; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100px; opacity: 0;}
}
@keyframes floatUp{
    0%{top: 200px; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100px; opacity: 0;}
}

/******* testing simon stuff ********/

#outer-circle {
    position: absolute;
    top: 60pt;
    left: 325pt;
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-width: 3px;
    margin: auto;
    box-shadow: 0 0 15px 15px #000000;
}

/*bottone start*/
#start{
    cursor: pointer;
    border-radius: 50%;
    height: 235px;
    width: 235px;
    text-align: center;
    font-family: subway, cursive;
    font-size: 47pt;
    position: absolute;
    margin-left: 5px;
    border-color: black;
    color: black;
    box-shadow: 0 0 40px 40px #2D383A inset, 0 0 0 0 black;
    transition: all 150ms ease-in-out;
    z-index: 19;
}
#start:hover {
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
    transform: scale(1.05);
    z-index: 19;
}

#title {
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 35px;
}
#switches {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 0;
    margin-right: 11px;
    margin-top: 4px;
}
#turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier, sans-serif;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

#button_topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    font-family: Tahoma,sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 1px 1px #2D383A;
    color: black;
    cursor: pointer;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: url("https://hackr.io/tutorials/learn-html-5/logo/logo-html-5?ver=1587977020");
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    border-style: solid;
    border-width: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 18;
    animation: zoomout3 6s ease-in 500ms forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes zoomout3 {
    from {
        background-size: 40%;
    }
    to {
        background-size: 80%;
    }
}
#button_topleft:hover{
    transform: scale(1.1);
    z-index: 19;
}

#button_topright {
    position: absolute;
    height: 250px;
    width: 250px;
    font-family: Tahoma, cursive;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 1px 1px #2D383A;
    color: black;
    cursor: pointer;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: url("https://codeplus.it/uploads/css3.jpg");
    top: 50%;
    left: 50%;
    margin: -250px 0 0 0;
    border-style: solid;
    border-width: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 18;
    animation: zoomout1 6s ease-in 500ms forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes zoomout1 {
    from {
        background-size: 50%;
    }
    to {
        background-size: 100%;
    }
}

#button_topright:hover{
    transform: scale(1.1);
    z-index: 19;
}
#button_bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    font-family: Tahoma,sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 1px 1px #2D383A;
    color: black;
    cursor: pointer;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: url("https://www.clipartkey.com/mpngs/m/176-1760594_problem-solving-icon-vector-home-logo-png.png");
    top: 50%;
    left: 50%;
    margin: 0 -250px 0 -250px;
    border-style: solid;
    border-width: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 18;
    animation: zoomout4 6s ease-in 500ms forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes zoomout4 {
    from {
        background-size: 40%;
    }
    to {
        background-size: 80%;
    }
}
#button_bottomleft:hover{
    transform: scale(1.1);
    z-index: 19;
}
#button_bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    font-family: Tahoma,sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 1px 1px #2D383A;
    color: black;
    cursor: pointer;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: url("https://cdn-ssl-devio-img.classmethod.jp/wp-content/uploads/2020/04/javascript-960x504.png") ;
    top: 50%;
    left: 50%;
    margin: 0 0 -250px 0;
    border-style: solid;
    border-width: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 18;
    animation: zoomout2 6s ease-in 500ms forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes zoomout2 {
    from {
        background-size: 60%;
    }
    to {
        background-size: 120%;
    }
}
#button_bottomright:hover{
    transform: scale(1.1);
    z-index: 19;
}
#inner-circle {
    position: absolute;
    background: #2D383A;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 3px;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 7px 7px inset #000000;
    z-index: 100;
}

/*background animation*/

.light {
    position: absolute;
    width: 0;
    opacity: .75;
    background-color: #545353;
    box-shadow: #313737 0 0 20px 2px;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.x1{
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    z-index: 1;
}

.x2{
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
    z-index: 1;
}

.x3{
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
    z-index: 1;
}

.x4{
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
    z-index: 1;
}

.x5{
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
    z-index: 1;
}

.x6{
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
    z-index: 1;
}

.x7{
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
    z-index: 1;
}

.x8{
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
    z-index: 1;
}

.x9{
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
    z-index: 1;
}



@-webkit-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}

.header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: darkslategray;
    font-size: 2em;
}

#head1, #head2,#head3, #head4, #head5{
    opacity: 0;
}

#head1{
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
}

#head2{
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

#head3{
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

#head4{
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -o-animation-delay: 17s;
    animation-delay: 17s;
}

#head5{
    -webkit-animation: finalFade 1 5s ease-in;
    -moz-animation: finalFade 1 5s ease-in;
    -o-animation: finalFade 1 5s ease-in;
    animation: finalFade 1 5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    -moz-animation-delay: 22s;
    -o-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-moz-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-o-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}

@-moz-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}

@-o-keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}

@keyframes fadeOut{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 0;}
}

@-webkit-keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
}

@-moz-keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
}

@-o-keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
}

@keyframes finalFade{
    0%{opacity: 0;}
    30%{opacity: 1;}
    80%{opacity: .9;}
    100%{opacity: 1;}
}

