**,*::before,*::after{
    box-sizing: border-box;
    font-family: Georgia,sans-serif;
    overflow: hidden;
}
/*usato per accedere all'elemento root e definire variabili globali*/
:root{
    /*colore default*/
    --color-neutral: hsla(273, 98%, 60%, 1);
    /*colore risposta errata*/
    --color-wrong: hsla(360, 96%, 22%, 0.89);
    /*colore risposta corretta*/
    --color-correct: green;

}

body{
    /*imposto il background a un colore di default*/
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--color-neutral);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/*noinspection ALL*/
body.correct{
    /*se la risposta è corretta cambio colore sfondo*/
    background-color: var(--color-correct);
}

/*noinspection CssUnresolvedCustomProperty*/
body.wrong{
    /*se la risposta è sbagliata cambio colore sfondo*/
    background-color: var(--color-wrong);
}

.container{
    height: 360px;
    width: 800px;
    max-width: 80%;
    background-color: hsla(201, 73%, 62%, 0.92);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    z-index: 10;
}
#question{
    font-family: "Book Antiqua",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 600;
}

.btn-grid{
    display: grid;
    /*2 colonne*/
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 28.1vw;
    height: 13vh;
    margin-top: 20px;
    border: 1px solid #1f00e6;
    background-color: hsla(223, 100%, 60%, 1);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover{
    border-color: black;
}
.btn.correct{
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--color-correct);
}
.btn.wrong{
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--color-wrong);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn, .next-btn{
    cursor: pointer;
    color: black;
    margin-top: 125px;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 10px;
}
.next-btn{
    margin-top: 10%;
    font-size: 20px;
    padding: 2px;
}

.start-btn:hover{
    animation: start-btn-anim 1s infinite alternate;
}
.next-btn:hover{
    animation: next-btn-anim 1s infinite alternate;
}


@keyframes start-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 33px;
        transform: scale(1.01);
        background-color: hsla(223, 100%, 40%, 1);
    }
}
@keyframes next-btn-anim {
    from{
        opacity: 100%;

    }
    to{
        opacity: 90%;
        border-radius: 20px;
        font-size: 22px;
        transform: scale(1.01);
        background-color: hsla(223, 100%, 40%, 1);
    }
}

/* timer */
.container_timer{
    position: absolute;
    left: 47%;
    top: 6%;

}
#timer{
    font-size: 2.6rem;
    height: 20vh;
    width: 10vw;
}
#timer_value {
    margin-left: 10px;
    text-shadow: 2px 2px 1px hsla(270, 100%, 60%, 1),-2px -2px 1px hsla(210, 90%, 62%, 0.92), 2px -2px 1px hsla(213, 100%, 40%, 1), -2px 2px 1px #1f00e6;
}
/* end timer */


/*---------------------------BACKGROUND ANIMATION-----------------------*/
.light {
    position: absolute;
    width: 0;
    opacity: .75;
    background-color: #5E6973;
    box-shadow: darkviolet 0 0 20px 2px;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.x1{
    animation: floatUp 4s infinite linear;
    transform: scale(1.0);
}

.x2{
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
}

.x3{
    animation: floatUp 2.5s infinite linear;
    transform: scale(.5);
    left: -15%;
}

.x4{
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
}

.x5{
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
}

.x6{
    animation: floatUp 3s infinite linear;
    transform: scale(.8);
    left: -81%;
}

.x7{
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
}

.x8{
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
}

.x9{
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
}

@keyframes floatUp{
    0%{top: -100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: 100vh; opacity: 0;}
}

/* risp-corretta-errata */
#riassunto_game {
    justify-content: center;
    align-items: center;
    display: flex;
}
#risp_errata,#risp_corretta {
    justify-content: center;
    font-size: 1.2em;
    padding: 2px 2px;
    border-radius: 20px;
    z-index: 10;
}

.hide{
    display: none;
}