body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container_div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 10pt;
    margin-top: 100px;
    position:absolute;
    font-family: Tahoma,sans-serif;
    font-size: 14px;
    /*
    1auto : elemento
    2auto : elemento
    3auto : scelta utente
    4auto : scelta utente
    5auto : scelta utente
    6auto : scelta utente
    7auto : scelta utente
     */
}


.cella {
    background-color: #9cffa1;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    right: -40px;
    top: 40px;
    width: 20vw;
    max-width: 20vw;
    max-height: 10vh;
    min-width: 10vw;
    min-height: 10vh;
}

.cella:hover {
    opacity: 80%;
    color: red;
}

/*sono piu grandi ( anche se hanno stesso padding e stesso margin ) perche il font è piu grande */
.cella_elem {
    cursor: grab;
    padding: 10px;
    position: relative;
    background-color: red;
    color: black;
    margin: 0 0 0 0;
    text-align: center;
    border-radius: 50px;
    top: 40px;
    left: 10px;
    max-width: 10vw;
    max-height: 10vh;
    min-width: 10vw;
    min-height: 10vh;
}
.cella_elem:hover{
    opacity: 80%;
    color: white;
    animation: zoom-button 500ms ease infinite alternate;
}
@keyframes zoom-button {
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.05);
        font-weight: 500;
    }
}