
#intro_project {
    text-align: center;
    width: auto;
    height: 500pt;
}

#container_name_project {
    text-align: center;
    width: auto;
    height: auto;
    padding-bottom: 30pt;

    animation-name: change_color;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes change_color {

    0%   {background-color: black;}
    25%  {background-color: darkgrey;}
    50%  {background-color: grey;}
    100% {background-color: lightgray;}

}

#name_project {
    font-size: 170pt;
    padding-top: 30pt;
    animation-name: change_size;
    animation-duration: 5s;

}

.athon-app{
    line-height: 300px;
    margin: 0;
    font-family: 'Red Hat Display',sans-serif;
    font-weight: 900;
    background-size: 40%;
    background: url("https://i.pinimg.com/originals/cf/b2/a8/cfb2a87b5f335bd0ec9bd657edef45f0.jpg") 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes zoomout {
    from{
        background-size: 40%;
    }
    to{
        background-size: 10%;
    }
}

@keyframes change_size {
    from { font-size:  300pt; }
    to { font-size: 170pt; }
}

#cite_intro {
    font-size: 20pt;
    animation-name: change_size_2;
    animation-duration: 6s;
}

@keyframes change_size_2 {
    from { font-size: 10pt; }
    to { font-size: 20pt; }
}

#container_start {

    text-align: center;
    animation-name: change_opacity;
    animation-duration: 6s;
    padding-top: 30pt;
    padding-bottom: 30pt;
}

@keyframes change_opacity {
    from { opacity: 20% }
    to { opacity: 100% 
    }
}

#name_developer {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 50pt;
}


body {
    margin: 0 0 0 0;
}

p {
    margin: 0 0 0 0;
}


/* button style */

div[class*=box] {
    height: 33.33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}
