
#intro_project {
    opacity: 50%;
    text-align: center;
    width: auto;
    height: 615pt;
    animation-name: change_color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes change_color {
    0%   {background-color: #9bf83a;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}

}

#name_project {
    font-size: 80pt;
    padding-top: 250pt;
}

body {
    margin: 0 0 0 0;
}

p {
    margin: 0 0 0 0;
}