*,*::before,*::after{
    box-sizing: border-box;
    font-family: Georgia,sans-serif;
}
/*usato per accedere all'elemento root e definire variabili globali*/
:root{
    /*colore default*/
    --color-neutral: darkslategrey;
    /*colore risposta errata*/
    --color-wrong: red;
    /*colore risposta corretta*/
    --color-correct: green;

}

body{
    /*imposto il background a un colore di default*/
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--color-neutral);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/*noinspection ALL*/
body.correct{
    /*se la risposta è corretta cambio colore sfondo*/
    background-color: var(--color-correct);
}

/*noinspection CssUnresolvedCustomProperty*/
body.wrong{
    /*se la risposta è sbagliata cambio colore sfondo*/
    background-color: var(--color-correct);
}

.container{
    height: 600px;
    width: 1000px;
    max-width: 80%;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
   
}


.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btn, .next-btn{
    margin: 0;
    height: 9vh;
    width: 16vw;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 20px;
}
.hide{
    display: none;
}

#img_question{
    height: 400px;
    width: 500px;
    max-width: 50%;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    position: relative;;
    overflow:hidden;
    left:50px;
    float:left;
    top:100px;
}

#fill_form{
    height: 400px;
    width: 400px;
    max-width: 40%;
    background-color: lightgray;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    position:relative;
    left:40px;
    overflow:hidden;
    float:left;
    top:100px;
    

}
