
/* inizio css del login */
body {
    overflow: hidden;
    margin: 0 0 0 0;
}

#container_start {
    animation: change_opacity 5s 1;
    opacity: 100%;
}
@keyframes change_opacity {
    from { opacity: 0; }
    to { opacity: 100%; }
}

.form-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -280px;
    animation: change_dimension 1s infinite reverse;
}
@keyframes change_dimension {
    33%{ transform: scale(1); }
    66%{ transform: scale(1.05); }
    100%{ transform: scale(1); }
}

.form-container {
    margin: 0 0 0 0;
    padding: 100px  20px 100px 20px;
    border-radius: 20px;

    background: radial-gradient(#80ed99, #c7f9cc);
}

.form-container input[type=text]{
    border: none;
    text-align: center;
    width: 80%;
    padding: 10px 0px 10px 0px;
    margin: 50px 0px 50px 50px;
    background: black;
    color: #020202;
}
.form-container input[type=text]:focus{
    background-color: lightgrey;
    outline: none;
}
.form-container .btn {

    background-color: #80ed99;
    color: black;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-bottom:10px;
    margin-left: 200px;
    border-radius: 10px;
}


#container_start {
    animation: change_opacity 5s 1;
    opacity: 100%;
}
@keyframes change_opacity {
    from { opacity: 0;  }
    to { opacity: 100%; }
}

#insert_nick {
    opacity: 100%;
    animation: change_opacity_1 8s 1;
    margin-left: 5px;
    margin-bottom: 50px;
}
@keyframes change_opacity_1 {
    from { opacity: 0; }
    to { opacity: 100%; }
}

#nickname {
    opacity: 100%;
    animation: change_opacity_2 10s 1;
}
@keyframes change_opacity_2 {
    from { opacity: 0; }
    to { opacity: 100%; }
}


#login_id {
    opacity: 100%;
    animation: change_opacity_3 15s 1;
}
@keyframes change_opacity_3 {
    from { opacity: 0; }
    to { opacity: 100%; }
}









/* inizio animazione sfondo */
.light {
    position: absolute;
    width: 0;
    opacity: .75;
    background-color: #050505;
    box-shadow: #ffffff 0 0 2px 1px;
    top: 100vh;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.x1{
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.x2{
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
}

.x3{
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
}

.x4{
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
}

.x5{
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
}

.x6{
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
}

.x7{
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
}

.x8{
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
}

.x9{
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
}



@-webkit-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
@-o-keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}
@keyframes floatUp{
    0%{top: 100vh; opacity: 0;}
    25%{opacity: 1;}
    50%{top: 0; opacity: .8;}
    75%{opacity: 1;}
    100%{top: -100vh; opacity: 0;}
}









/* testing simon stuff */

.toggle {
    margin-left: 20px;
    margin-right: 20px;
}

#start {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgray;
    position: absolute  ;
    margin-left: 50px;

}


#title {
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 35px;
}

#switches {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 26px;
    margin-top: 110px;
}

#turn {
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

#outer-circle {
    display:none;
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
}

#button_topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: darkgreen;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black ;
}

#button_topright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: darkred;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Original Surfer', cursive;
    position: absolute;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black ;

}

#button_bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black ;

}

#button_bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px black ;

}

#inner-circle {
    position: absolute;
    background: grey;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

